# Flutter/Dart/Pub related
.dart_tool/
.packages
pubspec.lock
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.gradle/
android/.gradle/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Misc
.DS_Store
